{% extends 'base.html' %}
{% load static %}

{% block styling %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.3.0/css/responsive.bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.bootstrap5.min.css">
{% endblock %}
{% block title %}Students{% endblock %}

{% block content %}

<!-- PAGE-HEADER -->
{% include 'partials/components/page-header.html' with page_title="Students" breadcrumb_item="User Management" %}
<!-- PAGE-HEADER END -->
 
<div class="row">
    {% include 'partials/components/stat_card.html' with title="Total Students"
    value=335 subtitle="Active: 340" icon="bi bi-people-fill"
    icon_color="text-primary" %}
    
    {% comment %} Include Students who just joined a week, month or in term {% endcomment %}
    {% include 'partials/components/stat_card.html' with title="New Students"
    value=12 subtitle="This Month" icon="bi bi-person-plus-fill"
    icon_color="text-success" %}
   
    {% include 'partials/components/stat_card.html' with 
        title="Male Students"
        value=180
        subtitle="Approx. 52%"
        icon="bi bi-gender-male"
        icon_color="text-info"
    %}

    {% include 'partials/components/stat_card.html' with 
        title="Female Students"
        value=155
        subtitle="Approx. 48%"
        icon="bi bi-gender-female"
        icon_color="text-danger"
    %}

</div>

<div class="row">
    <div class="col-xl-12">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">View Students</div>
            </div>
            <div class="card-body">
                <table id="file-export" class="table table-bordered text-nowrap w-100">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Student Number</th>
                            <th>DOB</th>
                            <th>Enrollment Date</th>
                            <th>Grade</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for student in students %}
                        <tr>
                            <td>{{ student.user.first_name }} {{ student.middle_name }} {{ student.user.last_name }}</td>
                            <td>{{ student.student_number }}</td>
                            <td>{{ student.date_of_birth }}</td>
                            <td>{{ student.enrollment_date }}</td>
                           
                            <td>Not Assigned</td>
                            <td><a href="{% url 'user:student_detail' student.pk %}"><i class="bi bi-eye" style="font-size: 1.5rem;"></i></a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock%}

{% block scripts %}

<script src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

<script src="{% static 'assets/js/datatables.js' %}"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.3.0/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.6/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
{% endblock %}