{% extends 'base.html' %}
{% load static %}

{% block styling %}{% endblock %}
{% block title %}Dashboard{% endblock %}

{% block content %}


    <!-- PAGE-HEADER -->
{% include 'partials/components/page-header.html' with 
    page_title=student.user.first_name|add:"'s Profile" 
    breadcrumb_item="Pages"
%}

<!-- PAGE-HEADER END -->


<!-- Start::row-1 -->
<div class="row">
    <div class="col-xxl-6">
        <div class="card custom-card overflow-hidden">
            <div class="card-body border-bottom">
                <div class="d-sm-flex  main-profile-cover">
                    <span class="avatar avatar-xxl online me-3">
                        {% if student.image %}
                        <img src="{{ student.image.url }}" alt="" class="avatar avatar-xxl">
                        {% else %}
                        <img src="{% static 'assets/images/faces/5.jpg' %}" alt="" class="avatar avatar-xxl">
                        {% endif %}
                    </span>
                    <div class="flex-fill main-profile-info my-auto">
                        <h5 class="fw-semibold mb-1 ">{{student.user.first_name}} {{student.middle_name}} {{student.user.last_name}}</h5>
                        <div>
                            <p class="mb-1 text-muted">Student No: {{student.student_number}}</p>
                          
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body p-0 main-profile-info">
                <div class="d-flex align-items-center justify-content-between w-100">
                    <div class="py-3 border-end w-100 text-center">
                        <p class="fw-bold fs-20  text-shadow mb-0">Grade</p>
                        <p class="mb-0 fs-12 text-muted ">3</p>
                    </div>
                    <div class="py-3 border-end w-100 text-center">
                        <p class="fw-bold fs-20  text-shadow mb-0">Class</p>
                        <p class="mb-0 fs-12 text-muted ">B</p>
                    </div>
                    <div class="py-3 w-100 text-center">
                        <p class="fw-bold fs-20  text-shadow mb-0">Gender</p>
                        <p class="mb-0 fs-12 text-muted ">{{student.gender}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card custom-card">
            <div class="p-4  border-bottom border-block-end-dashed">
                <p class="fs-15 mb-2 me-4 fw-semibold">Student Full Information:</p>
                <ul class="list-group">
                    <li class="list-group-item border-0">
                        <div class="d-flex flex-wrap align-items-center">
                            <div class="me-2 fw-semibold">
                                Name :
                            </div>
                            <span class="fs-12 text-muted">{{student.user.first_name}} {{student.middle_name}} {{student.user.last_name}}</span>
                        </div>
                    </li>
                    <li class="list-group-item border-0">
                        <div class="d-flex flex-wrap align-items-center">
                            <div class="me-2 fw-semibold">
                                Email :
                            </div>
                            <span class="fs-12 text-muted">
                                {% if student.user.email %}
                                {{student.user.email}}</span>
                                {% else %}
                                N/A
                                {% endif %}
                        </div>
                    </li>
                    <li class="list-group-item border-0">
                        <div class="d-flex flex-wrap align-items-center">
                            <div class="me-2 fw-semibold">
                                Date of Birth :
                            </div>
                            <span class="fs-12 text-muted">{{student.date_of_birth}}</span>
                        </div>
                    </li>
                    <li class="list-group-item border-0">
                        <div class="d-flex flex-wrap align-items-center">
                            <div class="me-2 fw-semibold">
                                Enrollment Date :
                            </div>
                            <span class="fs-12 text-muted">{{student.enrollment_date}}</span>
                        </div>
                    </li>
                    <li class="list-group-item border-0">
                        <div class="d-flex flex-wrap align-items-center">
                            <div class="me-2 fw-semibold">
                                Age :
                            </div>
                            <span class="fs-12 text-muted">{{student.age}}</span>
                        </div>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xxl-6">
        <div class="row">
            <div class="col-xl-12">
                <div class=" custom-card">
                    <div class="card-body p-0">
                        <div class="border-block-end-dashed  bg-white rounded-2 p-2">
                            <div>
                                <ul class="nav nav-pills nav-justified gx-3 tab-style-6 d-sm-flex d-block " id="myTab"
                                    role="tablist">
                                    <li class="nav-item rounded" role="presentation">
                                        <button class="nav-link active" id="academics-tab" data-bs-toggle="tab"
                                            data-bs-target="#academics-tab-pane" type="button" role="tab"
                                            aria-controls="academics-tab-pane" aria-selected="true"><i
                                                class="ri-gift-line me-1 align-middle d-inline-block fs-16"></i>Academics</button>
                                    </li>
                                    <li class="nav-item rounded" role="presentation">
                                        <button class="nav-link" id="parents-tab" data-bs-toggle="tab"
                                            data-bs-target="#parents-tab-pane" type="button" role="tab"
                                            aria-controls="parents-tab-pane" aria-selected="false"><i
                                                class="ri-exchange-box-line me-1 align-middle d-inline-block fs-16"></i>Parents</button>
                                    </li>
                                    <li class="nav-item rounded" role="presentation">
                                        <button class="nav-link" id="reports-tab" data-bs-toggle="tab"
                                            data-bs-target="#reports-tab-pane" type="button" role="tab"
                                            aria-controls="reports-tab-pane" aria-selected="false"><i
                                                class="ri-bill-line me-1 align-middle d-inline-block fs-16"></i>Reports</button>
                                    </li>
                                    <li class="nav-item rounded" role="presentation">
                                        <button class="nav-link" id="followers-tab" data-bs-toggle="tab"
                                            data-bs-target="#followers-tab-pane" type="button" role="tab"
                                            aria-controls="followers-tab-pane" aria-selected="false"><i
                                                class="ri-money-dollar-box-line me-1 align-middle d-inline-block fs-16"></i>Calendar</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="py-4">
                            <div class="tab-content" id="myTabContent">

                                <div class="tab-pane show active fade p-0 border-0 bg-white p-4 rounded-3"
                                    id="academics-tab-pane" role="tabpanel" aria-labelledby="academics-tab" tabindex="0">
                                    <ul class="list-unstyled profile-timeline">
                                        <li>
                                            <span
                                                class="fs-12 text-muted fw-semibold text-end profile-timeline-time">16,Dec
                                                2023</span>
                                            <div>
                                                <p class="text-muted mb-2">
                                                    <span class="text-default"><b>Current Assigned</b> Teacher</span>
                                                </p>
                                                <p class="text-muted fs-12 mb-0">
                                                    <strong>Mrs Chimweso</strong></p>
                                            
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tab-pane fade p-0 border-0 bg-white p-4 rounded-3" id="parents-tab-pane" role="tabpanel"
                                    aria-labelledby="parents-tab" tabindex="0">
                                   <ul class="list-unstyled profile-timeline">
                                        <li>
                                            <span
                                                class="fs-12 text-muted fw-semibold text-end profile-timeline-time">16,Dec
                                                2023</span>
                                            <div>
                                                <p class="text-muted mb-2">
                                                    <span class="text-default"><b>Parent Information</b></span>
                                                </p>
                                                <p class="text-muted fs-12 mb-0">
                                                    <strong>Mrs Chimweso</strong></p>
                                            
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tab-pane fade p-0 border-0 bg-white p-4 rounded-3" id="reports-tab-pane" role="tabpanel"
                                    aria-labelledby="reports-tab" tabindex="0">
                                   <ul class="list-unstyled profile-timeline">
                                        <li>
                                            <span
                                                class="fs-12 text-muted fw-semibold text-end profile-timeline-time">16,Dec
                                                2023</span>
                                            <div>
                                                <p class="text-muted mb-2">
                                                    <span class="text-default"><b>{{student.user.first_name}}'s Report</b></span>
                                                </p>
                                                <p class="text-muted fs-12 mb-0">
                                                    <strong>Term 1</strong></p>
                                            
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <!-- TODO: Add Relevent Student Info -->
                                <div class="tab-pane fade p-0 border-0 bg-white p-4 rounded-3" id="followers-tab-pane" role="tabpanel"
                                    aria-labelledby="followers-tab" tabindex="0">
                                  <ul class="list-unstyled profile-timeline">
                                        <li>
                                            <span
                                                class="fs-12 text-muted fw-semibold text-end profile-timeline-time">16,Dec
                                                2023</span>
                                            <div>
                                                <p class="text-muted mb-2">
                                                    <span class="text-default"><b>Parent Information</b></span>
                                                </p>
                                                <p class="text-muted fs-12 mb-0">
                                                    <strong>Mrs Chimweso</strong></p>
                                            
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock%}

{% block scripts %}{% endblock %}